// General CSS reset 
/* Resources I used to create this reset:
    - Comeau, J. https://www.joshwcomeau.com/css/custom-css-reset/ (Comeau credited Bell for inspiration)
    - Bell, A. https://piccalil.li/blog/a-more-modern-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0; // Remove default margin

    line-height: calc(1em + 1rem); // Use accessible line-height
    -webkit-font-smoothing: antialiased; // Improve text rendering
}

// Prevent font size inflation
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100dvh; // Ensure body fills the viewport
}

// Improve media defaults
img, picture, video, canvas, svg {
    display: block; // Remove default inline display
    max-width: 100%; // Make responsive, use `max-width: revert` if needed
}

input, button, textarea, select {
    font: inherit; // Inherit fonts for form controls
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word; // Avoid overflow
}

// Improve wrapping
p {
    text-wrap: pretty; 
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance; 
}



// Specific element resets use :where to reduce specificity
:where(.style-reset) {
    color: inherit; // Inherit text color
    text-decoration: none; // Remove default underline
}

:where(ul.style-reset) {
    list-style: none; // Remove default list styles
    padding: 0; // Remove default padding
}

:where(button.style-reset) {
    background: none; // Remove default background
    border: none; // Remove default border
    padding: 0; // Remove default padding

    &:hover {
        cursor: pointer; // Add pointer on hover
    }
}

:where(dialog.style-reset) {
    border-width: 0;
    padding: 0;
}